@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  --black: rgb(44, 44, 44);
  --white: whitesmoke;
  font-family: "Roboto";
}
body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Roboto";
}
.header {
  color: var(--white);
  width: 100%;
  height: 5vh;
  margin-bottom: 1em;
  cursor: default;
  letter-spacing: 1.5px;

  h1 span {
    position: relative;
  }
}
.header h1 span::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  left: 0px;
  bottom: -2px;
  transition: all 0.25s ease;
  transform: scale(0);
}
.header h1:hover #border::after {
  transform: scale(1);
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1.3em;
    width: 80%;
  }
  .tranverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;

    align-items: center;
    gap: 1.3em;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  background-color: var(--black);
  color: var(--white);
  border-radius: 7px;
  font-size: 0.89em;
  padding: 0.7em;
  letter-spacing: 1.3px;
  border: 1.3px solid var(--white);
  transition: all 0.3s ease;
}
.input:hover,
.input:focus {
  outline: none;
  background-color: var(--white);
  color: var(--black);
  border: 1.3px solid var(--black);
}
.button {
  background-color: var(--black);
  color: var(--white);
  padding: 1em;
  border-radius: 5px;
  border: 1.3px solid var(--white);
  letter-spacing: 1.4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1.3px solid var(--black);
}
.button:active {
  color: crimson;
  transition: background-color 0.1s ease;
}
.outputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: var(--white);
  font-weight: bold;
  .outputList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .outputItem {
    list-style: none;
  }
}
